@import 'vars';

button {
  background-color: $color;

}

:kepler {
  button {
    background-color: blue;

    span {
      border: 1px solid yellow;
    }
  }
  p {
    font-family: Helvetica;
  }
}