<template id="progress-circle">
  <link rel="import" href="../../dist/css/progress-circle.css">
  <content>
  <h1>${title}</h1>
  <svg class="animated" height="150" width="150">
    <circle class="down" cx="50%" cy="50%" r="50" stroke-dasharray="2 5"/>
    <circle class="mask" cx="50%" cy="50%" r="50" stroke-dasharray="0 314" stroke-dashoffset="0"/>
    <circle class="normal" cx="50%" cy="50%" r="50" stroke-dasharray="0 314" stroke-dashoffset="0"/>
    <circle class="warning" cx="50%" cy="50%" r="50" stroke-dasharray="0 314" stroke-dashoffset="0"/>
    <circle class="critical" cx="50%" cy="50%" r="50" stroke-dasharray="0 314" stroke-dashoffset="0"/>
  </svg>
  </content>
</template>

<script>
  let progressCircle = Kepler.Component('#progress-circle', {
    name: 'progress-circle',
    listeners : {
      click: {
        'button' : function(){
          alert('I WAS CLICKED')
          console.log(this)
        }
      }
    },
    methods : {
      findLength: function findLength(percent, circumference){
        return Math.round(percent*circumference / 100)
      },
      updateCircle: updateCircle,
      init: function(){
        setTimeout(()=>{
          this.updateCircle(30,10,20,40)
        },100)
      }
    },
    properties: {
      title: 'Progress Circle'
    }

  })


  function updateCircle(normal, warning, critical, down){
    const svg = this._vm._root.querySelector('svg')

    const r = 50
    const circumference = Math.floor(Math.PI*2*r)

    const buffer = 2
      let nl = this.findLength(normal, circumference)
      let wl = this.findLength(warning, circumference)
      let cl = down > 3*buffer ? this.findLength(critical, circumference) : this.findLength(critical, circumference) - 3*buffer
      let dl = this.findLength(down, circumference)

      let mask = svg.querySelector('.mask')
      var values = [
        {
          el: svg.querySelector('.normal'),
          class: 'normal',
          dashLength: nl,
          dashNegative: circumference - nl
        },
        {
          el: svg.querySelector('.warning'),
          class: 'warning',
          dashLength: wl,
          dashNegative: circumference - wl
        },
        {
          el: svg.querySelector('.critical'),
          class: 'critical',
          dashLength: cl,
          dashNegative: circumference - cl
        },
      ]

      let offset = 0
      let i = 0
      function update(){
        let obj = values[i]
        i++
        if(!obj) return
        let el = obj.el
        el.addEventListener('transitionend', ()=>{
          update()
        })
        el.style.strokeDasharray = obj.dashLength + ' ' + obj.dashNegative
        el.style.strokeDashoffset = -offset
        var maskLength = obj.dashLength + offset + buffer
        mask.style.strokeDasharray = maskLength + ' ' + (circumference - maskLength)
        offset += obj.dashLength + buffer;
      }
      update()
    }
</script>