
<template id="component">
  <style type="text/css">
    button {
      cursor: pointer;
      background-color: blue;
      padding: 1rem;
      color: white;
      border: 3px solid red;

    }
  </style>
  <button data-text="updated text"><span></span></button>
</template>


<script>
var importee = (document._currentScript || document.currentScript).ownerDocument;
var template = importee.getElementById('component')


/* custom elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

//register custom element

function K(){
  this.root = null


}


var superButton = Object.create(HTMLElement.prototype);
superButton.createdCallback = function() {
  var clone = document.importNode(template.content, true)
  var text = clone.querySelector('button').getAttribute('data-text')

  var root = this.createShadowRoot()

  if(text){
    this.text = text
    clone.querySelector('span').innerText = this.text
  } else {
    clone.querySelector('span').innerText = 'default'
  }

  root.appendChild(clone)
};
superButton.attachedCallback = function(){
  // console.log('attached')
}
superButton.detachedCallback = function(){
  console.log('detached')
}
superButton.attributeChangedCallback = function(){
  console.log('changed')
}


var myButton = document.registerElement('super-button', {
  prototype: superButton
});

</script>