
<template id="component">
  <style type="text/css">
    button {
      cursor: pointer;
      background-color: blue;
      padding: 1rem;
      color: white;
      border: 3px solid red;

    }
  </style>
  <button data-text="updated text"><span></span></button>
</template>


<script>
var importee = (document._currentScript || document.currentScript).ownerDocument;
var template = importee.getElementById('component')


/* custom elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

//register custom element
var superButton = Object.create(HTMLElement.prototype);
superButton.createdCallback = function() {
  console.log(this)
  var clone = document.importNode(template.content, true)
  var text = clone.querySelector('button').getAttribute('data-text')
  console.log('this', this)

  var root = this.createShadowRoot()

  if(text){
    this.text = text
    clone.querySelector('span').innerText = this.text
  } else {
    clone.querySelector('span').innerText = 'default'
  }

  root.appendChild(clone)
  console.log("ROOT LOG", root)
};
superButton.attachedCallback = function(){
  console.log('attached')
}
superButton.detachedCallback = function(){
  console.log('detached')
}
superButton.attributeChangedCallback = function(){
  console.log('changed')
}

superButton.foo = function() {
  console.log('foo() called');
};

var myButton = document.registerElement('super-button', {
  prototype: superButton
});

</script>